.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.login-section,
.code-generator-section,
.link-generator-section {
  width: 30%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#generatedCode,
#generatedLink {
  font-weight: bold;
}
