.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-section,
.code-generator-section,
.link-generator-section {
  display: none;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
